doctype html
html(lang="en")
head
  title GeoQuiz - Test your Geography knowledge in this interactive quiz
  meta(charset="utf-8")
  meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible",content="IE=edge")
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="/js/index.js",type="text/javascript")

body
  a(href="https://github.com/glynnbird/geoquiz")
    img#forkme(style="position: absolute; top: 0; right: 0; border: 0", src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
  div.container
    div.header
      h3.text-muted
      
    div.jumbotron
      h1 GeoQuiz
      p.lead Test your Geographical knowledge by identifying countries, counties and states against the clock. 
      p 
        select#quiz(onchange="quizChange()")
          option(value="") -- choose quiz --
          option(value="usstates") US States Quiz
          option(value="englishcounties") English Counties Quiz
          option(value="worldcountries") World Countries Quiz
          option(value="shippingforecast") Shipping Forecast Quiz
      
    div.row
      div.col-lg-6
        blockquote
          p "Geography is just physics slowed down, with a couple of trees stuck in it."
          footer Terry Pratchett
      div.col-lg-6 
        blockquote 
          p "This is brilliant! I've never had so much fun in years.'"
          footer Glynn Bird 2014

    div.row
      div.col-lg-3
      div.col-lg-6
        div.carousel.slide(data-ride="carousel",style="box-shadow: 5px 5px 5px #ccc;")

          ol.carousel-indicators
            li.active(data-target="#carousel-example-generic",data-slide-to="0")
            li(data-target="#carousel-example-generic",data-slide-to="1") 
            li(data-target="#carousel-example-generic",data-slide-to="2")
            li(data-target="#carousel-example-generic",data-slide-to="3")
          
          div.carousel-inner
            div.item.active
              a(href="/quiz/usstates")
                img.img-responsive(src="/img/s1.png", alt="US States Quiz")
                div.carousel-caption US States Quiz
            div.item
              a(href="/quiz/englishcounties")
                img.img-responsive(src="/img/s2.png", alt="English Counties Quiz")
                div.carousel-caption English Counties Quiz
            div.item
              a(href="/quiz/worldcountries")
                img.img-responsive(src="/img/s3.png", alt="World Countries Quiz")
                div.carousel-caption World Countries Quiz
            div.item
              a(href="/quiz/shippingforecast")
                img.img-responsive(src="/img/s4.png", alt="Shipping Forecast")
                div.carousel-caption Shipping Forecast Quiz
      div.col-lg-3

    div.footer
      p &copy; 2014
      
