doctype html
html(lang="en")
head
  include head.jade
  script(src="/js/moment.js")
  link(rel="stylesheet",href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
  link(rel="stylesheet",href="/css/quiz.css")

body
  div#fb-root

  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container-fluid
      div.navbar-header.hidden-xs.hidden-sm
        a.navbar-brand(href="/") GeoQuiz
      p#title.navbar-text  
      form.navbar-form.navbar-left(onsubmit="return neversubmit();")
        input#state.form-control(type="text", onkeyup="stateChange()", placeholder="place name",disabled="true")
      p.navbar-text
        span#livescore.label.label-success 0
        span#spacer
        span#livetimer.label.label-default 00:00
        span#spacer
      form.navbar-form.navbar-left
        button#stopbutton.btn.btn-danger(type="button", onclick="stopQuiz()",disabled="true") Stop&nbsp;
          span.glyphicon.glyphicon-stop
  div#map
  script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
  script(src="/js/quiz.js",type="text/javascript")
 
  div#myModal.modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4.modal-title Quiz Complete
        div.modal-body
          h2 You scored 
            span#finalscore.label.label-success 0/10
            | &nbsp;in&nbsp;
            span#finaltime.label.label-default 00:00
          h3#youmissed You missed
          ul#youmissedlist.list-group
          div.spacer
          h3 Tell your friends about it:
          blockquote#myquote 
          p 
            a.twitter-share-button('https://twitter.com/share') Tweet
          p 
            div.fb-like(data-layout="standard", data-action="like", data-show-faces="true", data-share="true")
            
        div.modal-footer
          a(href="/")
            button.btn.btn-primary(type="button") Try another quiz
            
            
  div#intro.modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          h4#introtitle.modal-title Quiz Title
        div.modal-body
          h2 Your task
          blockquote#introdescription
          div.spacer
          p Close this box, then start typing your first answer to begin the quiz.
        div.modal-footer
          button.btn.btn-primary(type="button",data-dismiss="modal") OK, Let's do this

    


    
      
