html,body {
  height:100%;
}

body {
  margin-top:53px;
}

#map {
   height: calc(100% - 53px);
   width: 100%;
}
#spacer {
  margin-right:10px;
}

#title {
  color:white;
  font-size:16px;
}

#livescore {
  font-size:20px;
}

#livetimer {
  font-size:20px;
}

.leaflet-container {
    background: #00bbff url(/img/wave.png) repeat;
}

#youmissedlist {
  height:200px;
  overflow:hidden; 
  overflow-y:scroll;
}

