html, body, #map {
   height: 100%;
   width: 100%;
}

#title {
  color:white;
  font-size:16px;
}

#livescore {
  font-size:20px;
}

#livetimer {
  font-size:20px;
}

.leaflet-container {
    background: #00bbff url(/img/wave.png) repeat;
}

